
@import "tailwindcss";

@theme {
  --font-display:"Poppins", sans-serif;
  --breakpoint-3xl:1920px;
  --color-primary: #04053a;
}

@layer base {
  html{
    font-family: var(--font-display);
  }
  body{
    background-color: #fcfbfc;
    overflow-x: hidden;
  }
}

.input-box{
@apply w-full h-12 px-4 border border-gray-300 flex justify-between items-center gap-3 text-black bg-slate-100/50 rounded px-4 py-3 mb-4 mt-3 border-slate-200;
}

.card {
  @apply bg-white p-6 rounded-2xl shadow-md shadow-gray-100 border border-gray-200/50;
}

.card-btn{
  @apply flex items-center gap-3 text-[12px] font-medium text-gray-700 hover:text-cyan-600 bg-gray-50 hover:bg-blue-50 px-4 py-1.5 rounded-lg border border-gray-200/50 cursor-pointer;
}

.card-btn-fill{
   @apply flex items-center gap-3 text-[12px] font-medium text-white hover:text-slate-100 bg-primary hover:bg-primary px-4 py-1.5 rounded-lg border border-gray-200/50 cursor-pointer;
}

.add-btn {
    @apply flex items-center gap-3 text-[12px] font-medium text-white hover:text-slate-100 bg-primary hover:bg-primary px-4 py-1.5 rounded-lg border border-gray-200/50 cursor-pointer;
}
.form-card{
  @apply bg-white p-6 rounded-lg shadow-md shadow-gray-100 border border-gray-300/50;
}

.form-input{
  @apply w-full text-sm text-black outline-none bg-white border border-slate-200 px-2.5 py-3 rounded-md mt-2 placeholder:text-gray-500;
  }

  .download-btn{
   @apply items-center gap-3 text-[12px] md:text-sm font-medium text-lime-900 bg-lime-100 px-4 py-2.5 rounded-lg border border-lime-300 cursor-pointer;
}

.user-card{
  @apply bg-white p-4 rounded-xl shadow-md shadow-gray-100 border border-gray-200/50;
}